<nav id="menu">
    <a href="{:url('web/home/index')}">HOME</a>|
    <a href="{:url('web/product/index')}">PRODUCTS</a>|
    {volist name="navArr" id="vo"}
    <a href="{:url('web/page/index',['nav'=>$vo.Id])}">{$vo.title}</a>|
    {/volist}
</nav>
<footer id="footer">
    <p>{$info.copyright}&nbsp;<a href="sitemap.xml">Sitemap</a>&nbsp;&nbsp;&nbsp;&nbsp;<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254147466'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1254147466%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></p>
</footer>