{php}$navArr = get_nav_bar();{/php}
{php}$info = get_option("info");{/php}
<header id="header">
    <div class="logo">
        <a href="index.html"><img src="{$info.imageUrl}" alt="" /></a>
    </div>
    <h1>sino</h1>
    <div class="favorites">
        <a href="mailto:sales@gfindustrial.com"><img src="__STATIC__/images/f5.jpg" alt="" width="29" height="29" /></a>
        <a href="skype:sales_gfindustrial?chat"><img src="__STATIC__/images/f1.jpg" alt="" width="29" height="29" /></a>
        <a href="msnim:chat?contact=jodie_sun@hotmail.com"><img src="__STATIC__/images/f4.jpg" alt="" width="29" height="29" /></a>
        <a href="http://www.facebook.com/sharer.php?u=http://www.gfindustrial.com&amp;t=Shanghai GF Industrial Co.,Limited" target="_blank"><img src="__STATIC__/images/f3.jpg" alt="" width="29" height="29" /></a>
        <a href="http://twitter.com/home?status=http://www.gfindustrial.com" rel="nofollow" target="_blank"><img src="__STATIC__/images/f2.jpg" alt="" width="29" height="29" /></a>
    </div>
</header>