<div id="container">
    <div id="hroot">
        <form action="search.asp" method="get">
            <input type="text" value="" name="keyword" class="keyword">
            <input type="submit" value="" name="" class="submit">
            <span class="advance">|
            <a href="javascript:;">Advance Search</a></span>
            <div id="advance">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="60" align="right">Series:</td>
                        <td colspan="3">
                            <select name="series" class="series">
                                <option value="">All Series</option>
                                <option value="0,74,">Bags</option>
                                <option value="0,7,">USB Flash Driver</option>
                                <option value="0,72,">Drinkware</option>
                                <option value="0,80,">Apparel & Hats</option>
                                <option value="0,81,">Electronics</option>
                                <option value="0,82,">Pens and Pencils</option>
                                <option value="0,83,">Key Chains</option>
                                <option value="0,84,">Office Suppliers</option>
                                <option value="0,88,">Stress relivers</option>
                                <option value="0,89,">Kitchen Accessories</option>
                                <option value="0,90,">Personal Care</option>
                                <option value="0,97,">Bar Accessories & Cheer Products</option>
                                <option value="0,99,">Tools</option>
                                <option value="0,102,">Beach chair& Beach tent</option>
                                <option value="0,132,">Toys</option>
                                <option value="0,133,">Gift Sets</option>
                                <option value="0,134,">Cellphone & Computer accessories</option>
                                <option value="0,135,">Wristbands & Glasses</option>
                                <option value="0,136,">Watch and Clock</option>
                                <option value="0,137,">Automotive</option>
                                <option value="0,139,">Umbrella & Rain cape</option>
                                <option value="0,140,">Medal and pins</option>
                                <option value="0,141,">Power Bank/ Mobile Phone Charger</option>
                                <option value="0,142,">Display products</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td width="60" align="right">Min Price:</td>
                        <td width="90">
                            <input type="text" name="minPrice" value="" class="before" attr=""></td>
                        <td width="60" align="right">Max Price:</td>
                        <td width="90">
                            <input type="text" name="maxPrice" value="" class="before" attr=""></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>