html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, ins, kbd, q, s, samp,small, strike, strong, dl, dt, dd, ol, ul, li,fieldset, form, label, legend, caption,  tbody, tfoot, thead,  th{ margin: 0px; padding: 0px;outline: 0;vertical-align: baselinebaseline; text-decoration:none;} img{border: 0px; display:block;}h1, h2, h3, h4, h5, h6{ font-weight:normal; font-size:12px} blockquote, q { quotes: none;} blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}a { blr:expression(this.onFocus=this.blur())}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block; margin:0; padding:0;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
html { background:url(../images/html_bg.jpg) repeat left top;}
body { font-size:12px; font-family:Arial; color:#333; background:url(../images/body_bg.jpg) repeat-y center top;/* padding-top:30px;*/}
a {color:#333; text-decoration:none;}
a:hover { text-decoration:underline;}

#container { background-color:#2597c9; border-bottom:solid 2px #8ac73b; /*position:fixed; left:0; top:0; z-index:10000;*/ width:100%}
#hroot { height:30px; line-height:30px; width:1000px; margin:0 auto; background:url(../images/rootlogo.jpg) no-repeat left center; position:relative;}
#hroot .keyword {width:165px; height:23px; line-height:23px; position:absolute; left:166px; top:4px; background:url(../images/keyword_bg.jpg) no-repeat left top; border:0; text-indent:13px;}
#hroot .submit {width:30px; height:23px; background:url(../images/submit_bg.jpg) no-repeat left top; position:absolute; left:331px; top:4px; border:0; cursor:pointer}
#hroot .advance { position:absolute; color:#fff; left:370px; height:30px; line-height:30px; top:0; display:none;}
#hroot .advance a {color:#fff}
#advance { display:none; position:absolute; left:370px; top:32px; width:300px; border:solid 1px #ccc; background-color:#fff; padding:10px;}
#advance .before {width:70px; height:16px; line-height:16px; background:url(../Images/bginput.jpg) repeat-x left top; border:1px solid #CCCCCC}
#advance .series {width:205px;}

#header {width:1000px; margin:0 auto; height:80px; position:relative;}
#header h1 { display:none}
#header .logo { position:absolute; left:16px; top:15px;}
#header .favorites { position:absolute; right:10px; bottom:12px;}
#header .favorites a { margin:0 5px;}
#header .favorites a img { display:inline;}
#nav {width:1000px; margin:0 auto; height:35px; background:url(../images/nav_bg.jpg) repeat-x left top; border-bottom:solid 3px #e5e5e5;}
#nav ul { padding:0 18px; list-style:none}
#nav li { float:left; height:35px; display:inline}
#nav li.sepeator {width:20px; background:url(../images/sepeator_bg.jpg) no-repeat center center;}
#nav li a { display:block; height:35px; line-height:35px; width:120px; text-align:center; color:#fff;}
#nav li a:hover { text-decoration:none; background:url(../images/nav_on.jpg) no-repeat left center;}
#nav li.current a { background:url(../images/nav_on.jpg) no-repeat left center;}
#banner {width:1000px; margin:7px auto 0;}

#main {width:980px; margin:0 auto; padding:10px;}

#aside {width:220px; float:left; min-height:200px;}
#category h2, #browse h2 {height:30px; line-height:30px; background:url(../images/sales_current.jpg) repeat-x left top; font-size:14px; color:#fff; text-indent:16px; text-transform:uppercase;}
#category ol {border-left:solid 1px #ebebeb; border-bottom:solid 1px #ebebeb; border-right:solid 1px #ebebeb; padding:9px; list-style:none}
#category ol li { height:32px; border-bottom:dotted 1px #b4b4b4; position:relative; z-index:1000}
#category ol li a { display:block; cursor:pointer;height:32px; line-height:32px; background:url(../images/category_icon.jpg) no-repeat left center; text-indent:12px; white-space:nowrap}
#category ol li a:hover { text-decoration:none; color:#8ac73b; font-weight:bold}
#category ol li.current a {color:#8ac73b; font-weight:bold}
#category ol li.current ol li a { color:#333; font-weight:normal;}
#category ol li ol {position: absolute; visibility: hidden; left: 200px; top: 0px; width: 200px; z-index:100;  padding:0 9px;}
#category ol li:hover ol {visibility: visible; background: #FFF; border: 1px #ccc solid;}
#category ol li ol li { overflow:hidden; width:190px; margin:0 auto;}
#category ol li ol li a {}
#category ol li ol li a:hover {color:#8ac73b; font-weight:bold}
#category ol li ol li.current a {color:#8ac73b; font-weight:bold}

#browse { margin-top:10px;}
#browse ol {border-left:solid 1px #ebebeb; border-bottom:solid 1px #ebebeb; border-right:solid 1px #ebebeb; padding-top:7px; height:180px; list-style:none}
#browse ol li {width:183px; margin:5px auto 0; height:28px; }
#browse ol li a { display:block; height:28px; line-height:28px; background:url(../images/icon1.jpg) no-repeat 13px center; text-indent:30px; border:solid 1px #ebebeb;}
#browse ol li a:hover { text-decoration:none; border:solid 1px #8ac73b; color:#8ac73b}

#location {width:750px; float:right; height:30px; position:relative; background:url(../images/sales_title.jpg) repeat-x left top;}
#location h2 { position:absolute; left:0; top:0;  height:30px; line-height:30px; padding:0 15px; background:url(../images/sales_current.jpg) repeat-x left top; color:#fff; font-size:14px; text-transform:uppercase; display:inline}
#location p.p1 { height:30px; line-height:30px; position:absolute; right:14px; top:0}
#location p span { margin:0 6px;}
#location p.p2 {position:absolute; left:14px; top:0; height:30px; line-height:30px; }

#article {width:720px; float:right; padding-top:10px; border-left:solid 1px #ebebeb; border-bottom:solid 1px #ebebeb; border-right:solid 1px #ebebeb; padding:0 14px;}
#article .filter { background-color:#95cc4e; height:28px; color:#fff;}
#article .filter .f1 { float:left; height:28px; line-height:28px; margin-left:20px;}
#article .filter .f2 { float:right; height:28px; line-height:28px; margin-right:20px;}
#article .gridview { background-color:#add875; height:25px; border-top:solid 1px #fff;}
#article .gridview p { float:left; height:25px; line-height:25px;}
#article .gridview a { display:block; color:#fff; padding-left:25px; height:25px; line-height:25px;}
#article .gridview a.up { background:url(../images/up.jpg) no-repeat 80px center;}
#article .gridview a.up:hover {background:url(../images/down.jpg) no-repeat 80px center;}
#article .gridview a.down { background:url(../images/down.jpg) no-repeat 80px center;}
#article .gridview a.down:hover {background:url(../images/up.jpg) no-repeat 80px center;}
#article .gridview a:hover { text-decoration:none; background:url(../images/up.jpg) no-repeat 80px center;} 
#article .gridview a.grid { background:url(../images/grid.jpg) no-repeat 60px center;}
#article .gridview a.list { background:url(../images/list.jpg) no-repeat 60px center;}

#artcontent {padding:10px 0 20px; line-height:22px;}

#productlist { padding:10px 0 0;}
#productlist .p1 {width:172px; float:left; margin:0 4px 10px 4px; display:inline;}
#productlist .p1 img {border:solid 1px #e3e3e3;}
#productlist .p1 figcaption { background-color:#f5f5f5; border-left:solid 1px #e3e3e3; border-bottom:solid 1px #e3e3e3; border-right:solid 1px #e3e3e3; padding:3px}
#productlist .p1 p { height:18px; line-height:18px; text-align:center; overflow:hidden; white-space:nowrap}
#productlist .p1 a:hover { text-decoration:none;}
#productlist .p1 a:hover img {border:solid 1px #8ac73b;}
#productlist .p1 a:hover figcaption { background-color:#8ac73b; color:#fff;}

#article .imgview {width:362px; float:left; margin-top:27px;}
#article .imgview p {border:solid 1px #e3e3e3;}
#article .imgview .i1 { border-left:solid 1px #e3e3e3; border-bottom:solid 1px #e3e3e3; border-right:solid 1px #e3e3e3; padding:5px;}
#article .imgview .bPrev { position:absolute; left:15px; top:6px; z-index:10}
#article .imgview .bNext { position:absolute; right:15px; top:6px; z-index:10}
#article .imgview .i1 ul { display:inline-block;}
#article .imgview .i1 li { float:left; width:75px; border:solid 1px #d8d8d8; margin:5px 5px 0 5px; display:inline; cursor:pointer;}
#article .imgview .i1 li.current {border:solid 1px #8ac73b;}
#article .information {width:330px; float:right; margin-top:27px; border-bottom:solid 1px #e3e3e3;}
#article .information h2 { background-color:#8ac73b; height:30px; line-height:30px; text-align:center; font-size:14px; color:#fff; overflow:hidden}
#article .information h3 { height:30px; line-height:30px; }
#article .information h3 em { font-style:normal; float:left;}
#article .information table { border-left:solid 1px #e3e3e3; border-right:solid 1px #e3e3e3; }
#article .information .c1 {background-color:#e6e6e6;}
#article .information td { text-indent:5px;}
#article .information span {width:21px; height:21px; display:inline; margin:4px 2px 0 3px; float:left; border:solid 1px #ccc;}
#article .information p { border-left:solid 1px #e3e3e3; border-right:solid 1px #e3e3e3; padding:5px; line-height:180%;}
#article .contactus { width:328px; float:right; color:#d6d6d6; border:solid 1px #d6d6d6; margin-top:10px; height:119px; padding-top:7px}
#article .contactus a.f1 { float:left; width:120px; height:32px; line-height:32px; margin-left:25px;}
#article .contactus a.f1 img { margin-right:10px; margin-bottom:-4px; display:inline}
#article .contactus a.closeWindow {background-color: #8ac73b; display: block; height: 25px; line-height: 25px; padding: 2px; text-align: center; width: 100px; color:#fff; margin-left:25px; margin-top:11px;}
#article .contactus a.closeWindow:hover { text-decoration:none;}
#article .protitle { background-color:#8ac73b; height:30px; line-height:30px; border:solid 1px #d6d6d6; margin-top:10px; font-size:14px; color:#fff; text-indent:14px;}
#article .procontent { line-height:180%; min-height:50px; padding:10px; border-left:solid 1px #d6d6d6; border-bottom:solid 1px #d6d6d6; border-right:solid 1px #d6d6d6;}
#article  ul { list-style:outside;}
#article .procontent img{max-width: 100%;}

#categorylist {overflow:hidden;width:718px; margin-top:10px}
#categorylist ul { list-style:none; height:180px;}
#categorylist ul li { float:left;}
#categorylist ul li a { text-decoration:none; display:block; width:138px; border:solid 1px #cccccc; }
#categorylist ul li a p {}
#categorylist ul li a span {height:28px; line-height:28px; text-align:center; display:block; overflow:hidden; background-color:#e1e1e1}
#categorylist ul li a:hover {border:solid 1px #8ac73b;}
#categorylist ul li a:hover span {background-color:#8ac73b; color:#fff}
#categorylist .hScrollPane_dragbar {height:13px; background:url(../Images/category_bg1.jpg) no-repeat left top; padding-top:2px; padding-left:2px; padding-right:2px;}
#categorylist .hScrollPane_draghandle {height:11px; width:43px; cursor:pointer; background:url(../Images/pressbar.png) no-repeat left top;}

#menu {width:1000px; margin:0 auto;  background-color:#8ac73b; height:36px; line-height:36px; text-align:center; color:#fff;}
#menu a {color:#fff; margin:0 30px;}
#footer {width:1000px; margin:0 auto; background-color:#2597c9; height:31px; line-height:31px; text-align:center; color:#fff;}
#footer a { color:#fff;}

.clear {clear:both; height:0px; margin:0; padding:0; width:0; border:none; overflow:hidden;}

div.page {height:40px; line-height:40px; width:100%; text-align:center;color: #ff0000;}
div.page span {padding:3px 5px 3px 5px; background-color:#8ac73b; color:#fff; border:solid 1px #8ac73b;}
div.page a{ color:#444444; border:1px solid #ccc;padding:3px 5px 3px 5px; margin:0 2px; text-decoration:none; background-color:#ddd}
div.page a:hover {color:#fff; background-color:#8ac73b; }

.side-bar { position:fixed; right:1px; top:100px; z-index:10000; width:56px; }
.side-bar div { cursor: pointer; margin: 1px 0 0; float:right; height:56px; }
.side-bar div p { line-height:56px; }
.side-bar .to-top { background:url(../images/drift_5.jpg) no-repeat left top; width:56px; height:56px; }
.side-bar .ico2, .side-bar .ico3, .side-bar .ico4 { display: block; float: left; height: 56px; width: 56px;}
.side-bar-qq { overflow:hidden; width:56px;}
.side-bar-qq .ico2 { background:url(../images/drift_4.jpg) no-repeat left top; }
.side-bar-qq .ico3 { background:url(../images/email.jpg) no-repeat left top; }
.side-bar-qq .ico4 { background:url(../images/skype.jpg) no-repeat left top; }
.side-bar-qq p { margin-left:1px; width:91px; text-align:center; color:#fff; float:left; }
.side-bar-qq .side_1 { background-color:#ec4a4b; }
.side-bar-qq .side_2 { background-color:#bdbdbd; }
.side-bar-qq .side_3 { background-color:#2aabca; }
.side-bar-weixin { position: relative; }
.side-bar-weixin .ico2 { background:url(../images/drift_3.jpg) no-repeat left top; }
.side-bar .erweixin { background-color:#fff; border: 1px solid #ccc; cursor: default !important; height: 150px; left: -133px; position: absolute; top: -3px; width: 130px; padding-top:10px; }
.side-bar .erweixin img { display:block; margin:0 auto; }
.side-bar .erweixin p { text-align:center; line-height:30px; height:30px; font-size:12px; }